services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 80
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
    volumes:
      - storage:/var/www/html/storage/app
    restart: unless-stopped

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    command: php artisan queue:work --sleep=3 --tries=3 --max-time=3600
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
    volumes:
      - storage:/var/www/html/storage/app
    restart: unless-stopped
    depends_on:
      - app

volumes:
  storage:
